* {
    margin: 0;
    padding: 0;
}

header {
    height: 10vh;
    position: sticky;
    top: 0px;
    background-color: burlywood;
}

main {
    height: 200vh;
    background-color: beige;
}

footer {
    height: 10vh;
    background-color: brown;
}

.zap {
    height: 10vh;
    width: 10vh;
    border-radius: 50px;
    position: fixed;
    z-index: 1;
    bottom: 100px;
    right: 50px;
}

header p {
    color: white;
    font-size: 2rem;
    position: relative;
    top: 20%;
    left: 50%;
    width: 10vw;
}